#toolbar {
  min-width: 100px;
  width: 50%;
  max-width: 500px;
  height: 100px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbar button,
#toolbar button:focus {
  background-color: #2b2d42;
  height: 70px;
  width: 50px;
  color: white;
  padding: 0;
  margin: 1%;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

#toolbar button:hover {
  transform: translateY(-5px);
}

#toolbar button img {
  max-width: 30px;
  max-height: 50px;
  border-radius: 5px;
}