
#entity {
  height: auto;
  width: 200px;
  background-color: #2b2d42;
  border-style: solid;
  border-color: #edf2f4;
  border-width: 2px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #2b2d42;
}

#container{
  margin: 3%;
}

label {
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color: #8d99ae;
}

hr {
  display: block;
  color: #edf2f4;
  margin: 5%;
}

ul {
  margin-top: 10px;
  padding: 0;
}

li {
  font-size: 12px;
  color: #8d99ae;
  list-style: none;
}

#newAttribute{
  display: flex;
  flex-direction: row;
  width: 100%;
  border: solid #8d99ae 1px;
  border-radius: 10px;
}

#addNewAttribute,
#addNewForeingKey {
  font-size: 10px;
  text-align: left;
  color: #8d99ae;
  border: none;
  background-color: #2b2d42;
}

#newAttribute input, #newAttribute input:focus{
  width: 37%;
  border: none ;
  background-color: #2b2d42;
}

#newAttribute input::placeholder{
  color: #8d99ae;
}
