#entity {
  height: 200px;
  width: 100px;
  background-color: #2b2d42;
  border-style: solid;
  border-color: #edf2f4;
  border-width: 2px;
  border-radius: 25px;
}

label {
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  color: #8d99ae;
  align-self: center;
  justify-self: center;
}

hr {
  display: block;
  color: #edf2f4;
  margin: 20px;
}

ul {
}

li {
  font-size: 12px;
  color: #8d99ae;
  list-style: none;
}

button {
  color: #8d99ae;
  border-color: #edf2f4;
  background-color: #2b2d42;
  border-radius: 25px;
  border-color: ;
}
